/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

body{
  width:70%;
  margin:auto;
  font-size:2em;
}

table{
  width:60%;
}

td{
  padding:0px 5px;
  overflow:none;
}
