header{
 flex-basis:0;
 height:5vh;
  border-bottom:1px solid $gray-border;
  margin:0;
  color:$gray-border;
  padding:auto;
  padding-left:$section-w - 3.2vw;

    h1{
      font-size:1.4em;
      i{
        font-size:1.6em
      }
    }
}


