.unstyled-list{
list-style-type:none;
display:flex;
width:60%;
margin:0px;
padding:0px;
height:30px;

  border: 0.5px solid #ddd;
  border-top:none;
  border-collapse: collapse;
border-spacing: 0px;
}

li{
flex:1 1 auto;
  display:inline;
  margin:0px;
  border-right: 1px solid #ddd;
  border-collapse: collapse;
border-spacing: 0;
}

.unstyled-list:first-of-type{
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
.unstyled-list li:nth-child(1){
  width:20%;
}

.unstyled-list li:nth-child(2){
  width:45%;

}

.unstyled-list li:nth-child(3){
  width:20%;

}

.unstyled-list li:nth-child(4){
  width:15%;

}
