.unstyled-list{
  list-style-type:none;
  margin:0px;
  padding:5px;
  height:35px;
  display:flex;
  box-sizing:border-box;
}


.unstyled-list li:nth-child(1){
  width:5%;
  flex:1 1 0;
}

.unstyled-list li:nth-child(2){
  flex:auto;
  box-sizing:border-box;
  width:fill-available;
  padding:0px 5px;
}

#todolist-body{
  padding:5px 10px 30px 5px;
  witdh:60%;
  background-color:white;
  border:1px solid $gray-border;
  border-radius:10px;

}

#todolist-body .unstyled-list li:nth-of-type(2){
  cursor:grab;
}

.hour-label{
  background-color:$gray-back;
  border-radius:3px;
  padding:0px 2px;
}

