<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>To Do List</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script> <!-- For Drag & Drop List -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> <!-- For Drag & Drop List -->
  </head>
  <body>
    <%= yield %>
  </body>
</html>
